@keyframes extend {
    0% {
        width: 43vw;
        margin-left: -105px;
        grid-template-columns: 45% 10% 45%;
    }
    100% {
        grid-template-columns: 33% 33% 33%;
        margin-left: -16.5vw;
        width: 60vw
    }
}

@keyframes winnerReveal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeDown {
    0% {
        margin-top: 0;
        opacity: 1;
    }
    100% {
        margin-top: 20%;
        opacity: 0;
    }
}

@keyframes fadeAndScale {
    0% {
        
    }
    100% {
        top: 35%;
        position: relative;
        left: -75%;
        transform: scale(1.5);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.App {
    padding-top: 1px;

    .modal {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 100;

        .overlay {
            background: #000;
            opacity: 0.5;
            height: 100%;
            width: 100%;
        }

        .modalBox {
            background: $white;
            width: max-content;
            height: max-content;
            display: flex;
            padding: 20px 30px 65px 32px;
            flex-direction: column;
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            align-items: center;
            border-radius: 10px;
            justify-content: flex-start;

            .rules_header {
                display: flex;
                padding: 20px;
                justify-content: space-between;
                width: 100%;

                h2 {
                    color: $darkText;
                    text-transform: uppercase;
                    font-size: 30px;
                }
            }
          
            .rules_img {
                width: min-content;
            }
        }
    }

    .header {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid hsl(217, 16%, 45%);
        border-radius: 10px;
        width: 60%;
        margin: 45px auto;
        z-index: 8;
        position: relative;

        img {
            width: 7vw;
        }

        .score {
            background: white;
            padding: 2vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 10vw;
            height: 7vw;
            justify-content: center;
            border-radius: 10px;

            h4 {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1vw;
                color: $scoreText;
                letter-spacing: 2px;
            }


            span {
                color: $darkText;
                line-height: 4vw;
                font-size: 4vw;
                font-weight: 700;
            }
        }
    }

    .game {
        width: 100vw;
        margin: 13vh auto;
        height: 43vh;

        .pentagon {
            display: flex;
            justify-content: center;
            width: 30vw;
            margin: 0 auto;

            .bg {
                width: 28vw;
                height: 27vw;
            }

            .winner {
                display: grid;
                grid-template-columns: 50% 50%;
                height: 33vw;
                width: 79vw;
                margin-left: -27vw;
                margin-top: -7.3vw;
                position: absolute;

                .circles {
                    width: 41vw;
                    height: 41vw;
                    background: #31335526;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    animation: winnerReveal;
                    animation-duration: 0.5s;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;

                    .circle {
                        background: #31335557;
                        height: 32vw;
                        width: 32vw;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &::before {
                            content: "";
                            background: #313355b5;
                            height: 24vw;
                            width: 24vw;
                            border-radius: 50%;
                            display: flex;
                        }
                    }
                }
            }


            .container {
                transform: translateY(150px);
                z-index: 10;
            }

            .complete {     
                animation: extend 1s ease-out forwards; 

                .action {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: 20px;
                    margin-top: -20vh;
                    transform: translateY(50px);
                    animation: fadeUp;
                    animation-duration: 0.8s;
                    animation-fill-mode: forwards;


                    h1 {
                        text-transform: uppercase;
                        color: $white;
                        font-weight: 700;
                        font-size: 3.3vw;
                    }

                    button {
                        background: $white;
                        color: $darkText;
                        text-transform: uppercase;
                        padding: 10px;
                        width: 15vw;
                        height: 4vw;
                        border: none;
                        border-radius: 5px;
                        font-size: 1.2vw;
                        font-weight: 600;
                        letter-spacing: 2px;
                        cursor: pointer;
                    }
                }

                
            }

            .choosed {
                display: grid;
                grid-template-columns: 45% 10% 45%;
                height: 33vw;
                width: 43vw;
                margin-left: -105px;
                margin-top: 0.3vw;
                position: absolute;
                z-index: 5;

                h3 {
                    font-size: 1.5vw;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: $white;
                }

                #lizard, #rock {
                    margin-top: 0;
                    margin-left: 0;
                }
                .choiceBg {
                    transform: scale(2.5);

                    &:hover {
                        .choice {
                            transform: none;
                            box-shadow: inset 0px 5px 0px -1px #B8BFD1;
                        }
                    }
                }

                .userChoice {
                    display: flex;
                    flex-direction: column;
                    grid-column: 1 !important;
                    gap: 7vw;
                    align-items: center;
                    
                }

                .houseChoice {
                    animation: fadeIn;
                    animation-duration: 3s;
                    animation-fill-mode: forwards;
                    grid-column: 3;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 7vw;

                    
                    .placeholder {
                        background: linear-gradient(337deg, #141539, transparent);
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                    }
                }

                #defined {
                    animation: fadeIn;
                    animation-timing-function: ease-in;
                    animation-duration: 1s;
                    animation-fill-mode: forwards; 
                     
                }

                #undefined {

                    .choice {
                        background: transparent;
                        box-shadow: none;
                        border: red;
                    }
                }

            }

            .choiceBg {
                width: 7vw;
                height: 7vw;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s ease-in;
                
                .choice {
                    background: $white;
                    width: 5vw;
                    height: 5vw;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: inset 0px 5px 0px -1px #B8BFD1;
                    margin-top: -2px;
                    margin-left: -1px;
                    transition: 0.3s ease-in;

                        img {
                            width: 2vw;
                        }
                    }

            &:hover {
                .choice {
                    box-shadow: inset 0px -6px 0px -1px #B8BFD1;
                    transform: rotate(25deg)
                }
            }

            &:nth-child(1) {
                grid-column: 2;
            }

            &:nth-child(2) {
                grid-column: 1;
            }

            &:nth-child(3) {
                grid-column: 3;
            }

            &:nth-child(4) {
                grid-column: 1;
            }
            
            &:nth-child(5) {
                grid-column: 3;
            }
        }

        #rock {
            margin-top: 4vw;
            margin-left: -5vw;
            background: radial-gradient($rockGradient);
            box-shadow: inset 0px -5px 0px -1px #9C1631;

           
        }

        #paper {
            background: radial-gradient($paperGradient);
            box-shadow: inset 0px -5px 0px -1px #2B47C6;
        }

        #scissors {
            background: radial-gradient($scissorsGradient);
            box-shadow: inset 0px -5px 0px -1px #C96C16;
        }

        #lizard {
            margin-top: 4vw;
            margin-left: 6vw;
            background: radial-gradient($lizardGradient);
            box-shadow: inset 0px -5px 0px -1px #6036AA;

        }

        #spock {
            background: radial-gradient($spockGradient);
            box-shadow: inset 0px -5px 0px -1px #2C8CA9;
        }

        .choices {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            position: absolute;
            gap: 10px 0;
            margin-top: -3vw;
            margin-left: -6px;
            width: 33vw;
            height: 31vw;    
            z-index: 5;
            justify-items: center;

            #spock {

                &:hover {
                    box-shadow: inset -4px 3px 0px -1px #2C8CA9;
                }
            }

            #rock {

                &:hover {
                    box-shadow: inset -4px 3px 0px -1px #9C1630;
                }
            }

            #paper {

                &:hover {
                    box-shadow: inset -4px 3px 0px -1px #2B47C6;
                }
            }

            #scissors {

                &:hover {
                    box-shadow: inset -4px 3px 0px -1px #C96C16;
                }
            }

            #lizard {

                &:hover {
                    box-shadow: inset -4px 3px 0px -1px #6036AA;
                }
            }
      }
      
     }

    }

    .started {

        .container {
            animation: fadeUp;
            animation-duration: 2s;
            animation-fill-mode: forwards;

            .choosed {
                z-index: 8;
            }
        }


       .bg {

            path {
                animation: fadeOut;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
            }
       }

       .choices {
        animation: fadeDown;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        }

    }

    .rules {
        padding: 20px;

        button {
            float: right;
            padding: 8px;
            border: 2px solid $headerOutline;
            background: transparent;
            border-radius: 8px;
            text-transform: uppercase;
            color: #bbbec3;
            font-weight: 600;
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 110px;
            cursor: pointer;


            span {
                transform: scaleY(1.2);
            }
          
        }
    }
}

@media screen and (max-width: 375px) {
    .App {
       
        .modal {
            

            .modalBox {
                height: 100vh;
                width: 100vw;
                padding: 20px 25px 65px 25px;

                .rules_header {
                    flex-direction: column;
                    height: 90vh;
                    width: 100vw;
                    position: absolute;
                    align-items: center;
                }

                .rules_img {
                    width: 90vw;
                    height: 80vw;
                    top: 50%;
                    display: block;
                    position: relative;
                    transform: translateY(-50%);
                }

            }
        }

        .header {
            padding: 10px;
            border-radius: 5px;
            width: 85%;
            margin: 25px auto;

            .logo {

                img {
                    width: 15vw;
                }
            }

            .score {
                width: 20vw;
                height: 19vw;
                border-radius: 5px;

                h4 {
                    font-size: 2.2vw;
                    letter-spacing: 1px;
                }

                span {
                    line-height: 10vw;
                    font-size: 10vw;
                }
            }
        }

        .game {
            width: 95vw;
            margin: 10vh auto;
            height: 80vw;


            .pentagon {
                top: 50%;
                transform: translateY(-50%);
                position: relative;
                width: 70vw;


                .choosed {
                    flex-direction: column-reverse;
                    gap: 15vw;
                }

                .complete {
                    grid-template-columns: 50% 50%;


                    .choiceBg {
                        width: 15vw;
                        height: 15vw;

                        .choice {
                            width: 11vw;
                            height: 11vw;

                            img {
                              width: 6vw;
                            }
                        }
                    }

                    .action {
                        grid-row: 2;
                        grid-column: 1 / 3;
                    }
                }

                .bg {
                    width: 60vw;
                    height: 80vw;

                }

                .choices {
                    margin-top: -6vw;
                    width: 80vw;
                    height: 31vw;
                }

                #rock {
                    margin-left: -15vw;
                }

                #lizard {
                    margin-left: 15vw;
                }

                .choiceBg {
                    width: 25vw;
                    height: 25vw;

                    .choice {
                        width: 18vw;
                        height: 18vw;

                        img {
                            width: 8vw;
                        }
                    }
                }
    
            }
        }

        .rules {

            button {
                float: none;
                margin: 0 auto;
            }
        }
    }
}